*{
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(hotel.png);
    background-position: center;
    background-size:cover;
}
.navbar{
    width:1200px;
    height: 75px;
    margin:auto;
}
.icon{
    width: 200px;
    float: left;
    height:70px;
}
.logo{
    font-family: Arial, sans-serif;
    font-size: 35px;
    color: purple;
    float:left;
    padding-left: 20px;
    padding-top: 10px;
}
.links{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    transition:  0.4s ease-in-out;
}
ul li a:hover{
    color: purple;
}
.searchbar{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family:Arial, sans-serif;
    width: 200px;
    height: 40px;
    background:transparent;
    border: 1px solid white;
    margin-top: 13px;
    color: white;
    font-size: 16x;
    float: right;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.srch:focus{
    outline: none;
}